.contenedor {
    background-color: #edede9;
    display: grid;
    grid-template-areas: 
        "cabeza cabeza cabeza"
        "titulo titulo titulo"
        "asideleft centro asideright"
        "pie pie pie";

    grid-gap: 5px;
}

.cabeza {
    background-color: #e3d5ca;
    grid-area: cabeza;
}
.titulo{
    background-color: #edede9;
    grid-area: titulo;
    
}
.asideleft {
    background-color: #edede9;
    grid-area: asideleft;
    
}


.centro {
    background-color:#edede9;
    grid-area: centro;
}

.asideright {
    background-color: #edede9;
    grid-area: asideright;
}

.pie {
    background-color: #edede9;
    grid-area: pie;
}
