.contenedor {
    display: grid;
    grid-template-areas: 
        "nav"
        "titulo"
        "cuerpo"
        "pie";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}


.nav-bar {
    grid-area: nav;
}

.titulo {
    grid-area: titulo;
}

.centro-body {
    grid-area: cuerpo;
}

.pie-pagina {
    grid-area: pie;
}

}
